include ../scripts/ga
title #{__('pageTitle')}

//- Load Bootstrap CSS based on read direction
if language.dir === 'ltr'
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
else
  link(rel='stylesheet', href='https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css' integrity='sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If' crossorigin='anonymous')

//- Faviconit CSS
link(rel='stylesheet' href='/css/faviconit.css')

//- Google fonts
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap')

//- Image cropper - https://github.com/fengyuanchen/jquery-cropper
//- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css')

//- File upload
//- link(rel='stylesheet', href='/css/jquery.filer.css')
//- link(rel='stylesheet', href='/css/themes/jquery.filer-dragdropbox-theme.css')

meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
meta(name='Description' content=__('metaDescription'))
meta(name='apple-mobile-web-app-title' content='faviconit!')
meta(charset='utf-8')
meta(name='viewport' content='width=device-width initial-scale=1 shrink-to-fit=no')
meta(property='fb:admins' content='634567411')
meta(name='twitter:site:id' content='2318538170')
meta(property='og:url' content=url)
meta(property='og:site_name' content='faviconit')
meta(property='og:title' content=__('ogTitle'))
meta(property='og:description' content=__('ogDescription'))
if socialImageUrl
  meta(property='og:image' content=socialImageUrl)
else
  meta(property='og:image' content='/img/faviconit-social-logo-3.png')
meta(property='og:locale' content=locale)
meta(property='og:type' content='website')
meta(name='twitter:card' content='summary')


// ****** faviconit.com favicons ******
link(rel='shortcut icon' href='/favicon/favicon.ico')
link(rel='icon' sizes='16x16 32x32 64x64' href='/favicon/favicon.ico')
link(rel='icon' type='image/png' sizes='196x196' href='/favicon/favicon-192.png')
link(rel='icon' type='image/png' sizes='160x160' href='/favicon/favicon-160.png')
link(rel='icon' type='image/png' sizes='96x96' href='/favicon/favicon-96.png')
link(rel='icon' type='image/png' sizes='64x64' href='/favicon/favicon-64.png')
link(rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32.png')
link(rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16.png')
link(rel='apple-touch-icon' href='/favicon/favicon-57.png')
link(rel='apple-touch-icon' sizes='114x114' href='/favicon/favicon-114.png')
link(rel='apple-touch-icon' sizes='72x72' href='/favicon/favicon-72.png')
link(rel='apple-touch-icon' sizes='144x144' href='/favicon/favicon-144.png')
link(rel='apple-touch-icon' sizes='60x60' href='/favicon/favicon-60.png')
link(rel='apple-touch-icon' sizes='120x120' href='/favicon/favicon-120.png')
link(rel='apple-touch-icon' sizes='76x76' href='/favicon/favicon-76.png')
link(rel='apple-touch-icon' sizes='152x152' href='/favicon/favicon-152.png')
link(rel='apple-touch-icon' sizes='180x180' href='/favicon/favicon-180.png')
meta(name='msapplication-TileColor' content='#FFFFFF')
meta(name='msapplication-TileImage' content='/favicon/favicon-144.png')
meta(name='msapplication-config' content='/favicon/browserconfig.xml')
// ****** faviconit.com favicons ******

script(async data-ad-client='ca-pub-4608591291382670' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
