extends templates/layout

block content
  h1 GENERTE VIEW
  p Welcome to #{title}
  p Locale: #{locale}
  p Language object
  each val in language
    p= val

  p #{__('pageTitle')}
  p #{__('socialImage')}
