extends templates/layout
//- http://rajasegar.github.io/PUG-Bootstrap/components.html#buttons
block content
  +a-btn("#") Default Link Button
  p #{__('pageTitle')}
  p #{__('socialImage')}
  p #{__('homeHighlight')}
  p #{__('homeSubHighlight')}
  p #{__('fillTheForm')}
  p #{__('faviconName')}
  p #{__('faviconNamePlaceholder')}
  p #{__('faviconNameHelp')}
  p #{__('faviconVersionHelp')}
  p #{__('faviconLocationHelp')}
  p #{__('faviconVersion')}
  p #{__('faviconVersionPlaceholder')}
  p #{__('ogDescription')}
  p #{__('metaDescription')}
  p #{__('metaDownload')}
  p #{__('metaFileNotFound')}
  p #{__('ogTitle')}
  p #{__('faviconFile')}
  p #{__('formFileChoose')}
  p #{__('formFileDragNDrop')}
  p #{__('formFileMultiDragError')}
  p #{__('uploaderBlockMessage')}
  p #{__('formFileAbortUpload')}
  p #{__('formFileHelp')}
  p #{__('swapImageText')}
  p #{__('editImageText')}
  p #{__('uploadError')}
  p #{__('advancedAccordionColapsed')}
  p #{__('advancedAccordionExpanded')}
  p #{__('downloadReady')}
  p #{__('thanks')}
  p #{__('download')}
  p #{__('availability')}
  p #{__('downloadNotFound')}
  p #{__('goBackLink')}
  p #{__('goBackText')}
  p #{__('faviconLocation')}
  p #{__('faviconLocationPlaceholder')}
  p #{__('shareTheLove')}
  p #{__('pageNotFound')}
  p #{__('instructionsTitle')}
  p #{__('instructionThanks')}
  p #{__('instructions')}
  p #{__('instructionsBlock')}
  p #{__('helpUsTranslate')}
  #{__('donationButton')}
