extends templates/layout
block content
  div.card#description
    //- img.card-img-top(src='/img/main-image.png', alt='Created with Faviconit')
    div.card-body
      h5.card-title!= __('home.highlight')
      p.card-text!= __('home.subHighlight')

  div.card
    div.card-header.text-center= __('home.form.title')
    div.card-body
      form
        div.alert.alert-danger.alert-dismissable
          button.close(type='button' data-dismiss='alert') &times;
          p ERROR
          //- @foreach($errors->all() as $error)
          //- {{ $error }}</br>
          //- @endforeach
        //- form(action="upload" method="post" enctype="multipart/form-data")
        //-   input#filer_input(type="file" name="files[]" multiple="multiple")
        //-   input(type="submit" value="Submit")
        div.form-group
          label.control-label.col-sm-3(for="iconFile")= __('home.form.file.title')
          div.col-sm-9
            div#upload-mask
              div#fileUploader= __('home.form.file.choose')
              span.help-block!= __('home.form.file,help')
            div#imageDisplay
      h5.card-title Special title treatment
      p.card-text With supporting text below as a natural lead-in to additional content.
      a(href='#' class='btn btn-primary') Go somewhere
      div
        img#image(src='/img/faviconit-social-logo-3.png')
        div.docs-preview.clearfix
          div.img-preview.preview-lg(style='width: 310px; height: 310px;')
        </div)
    div.card-footer.text-muted 2 days ago
  h1 Home
  p #{__('home.meta')}
  p #{__('home.socialImage')}
  p #{__('home.highlight')}
  p #{__('home.subHighlight')}
  h2 Form
  p #{__('home.form.title')}
  p #{__('home.form.file.title')}
  p #{__('home.form.file.choose')}
  p #{__('home.form.file.dragNDrop')}
  p #{__('home.form.file.editImage')}
  p #{__('home.form.file.swapImage')}
  p #{__('home.form.file.abortUpload')}
  p #{__('home.form.file.multiDragError')}
  p #{__('home.form.file.uploaderBlockMessage')}
  p #{__('home.form.file.uploadError')}
  p #{__('home.form.name.title')}
  p #{__('home.form.name.help')}
  p #{__('home.form.name.placeholder')}
  p #{__('home.form.folder.title')}
  p #{__('home.form.folder.help')}
  p #{__('home.form.folder.placeholder')}
  p #{__('home.form.version.title')}
  p #{__('home.form.version.help')}
  p #{__('home.form.version.placeholder')}
  p #{__('home.form.advancedAccordionColapsed')}
  p #{__('home.form.advancedAccordionExpanded')}
  h1 Download
  p #{__('download.meta')}
  p #{__('download.thanks')}
  p #{__('download.downloadReady')}
  p #{__('download.availability')}
  div!= __('download.donationButton')
  p #{__('download.download')}
  p #{__('download.goBackLink')}
  p #{__('download.goBackText')}
  p #{__('download.shareTheLove')}
  p #{__('download.notFound.metaFileNotFound')}
  p #{__('download.notFound.title')}
  h1 Instructions
  p #{__('instructions.instructions')}
  p #{__('instructions.instructionsBlock')}
  p #{__('instructions.instructionsTitle')}
  p #{__('instructions.instructionThanks')}
  h1 404
  p #{__('error404.title')}
  h1 Validation
  p!= __mf('validation.image', { attribute: __('home.form.file.title') })
  p!= __mf('validation.max_array', { attribute: __('home.form.file.title'), max: 20 })
  p!= __mf('validation.max_file', { attribute: __('home.form.file.title'), max: 4000 })
  p!= __mf('validation.max_numeric', { attribute: __('home.form.name.title'), max: 20 })
  p!= __mf('validation.max_string', { attribute: __('home.form.name.title'), max: 20 })
  p!= __mf('validation.minimum_size_image', { attribute: __('home.form.file.title') })
  p!= __mf('validation.regex', { attribute: __('home.form.name.title'), max: 20 })
  p!= __mf('validation.required', { attribute: __('home.form.name.title'), max: 20 })
  p!= __mf('validation.squared_image', { attribute: __('home.form.file.title'), max: 20 })
