doctype html
html(lang=locale, dir=readDirection)
  head
    title #{__('pageTitle')}
    link(rel='stylesheet', href='/css/faviconit.css')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='Description', content=__('metaDescription'))
    meta(name='apple-mobile-web-app-title', content='faviconit!')
    meta(property='fb:admins', content='634567411')
    meta(name='twitter:site:id', content='2318538170')
    meta(property='og:url', content=url)
    meta(property='og:site_name', content='faviconit')
    meta(property='og:title', content=__('ogTitle'))
    meta(property='og:description', content=__('ogDescription'))
    //- if user.description
    //- @if (isset($socialImageUrl))
    //- <meta property='og:image" content="{{ $socialImageUrl }}">
    //- @else
    //- <meta property="og:image" content="{{ asset('assets/img/faviconit-social-logo-3.png') }}">
    //- @endif
    meta(property='og:locale', content=locale)
    meta(property='og:type', content='website')
    meta(name='twitter:card', content='summary')


    // ****** faviconit.com favicons ******
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='icon', sizes='16x16 32x32 64x64', href='/favicon.ico')
    link(rel='icon', type='image/png', sizes='196x196', href='/favicon-192.png')
    link(rel='icon', type='image/png', sizes='160x160', href='/favicon-160.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96.png')
    link(rel='icon', type='image/png', sizes='64x64', href='/favicon-64.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16.png')
    link(rel='apple-touch-icon', href='/favicon-57,.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/favicon-114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/favicon-72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/favicon-144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/favicon-60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/favicon-120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/favicon-76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/favicon-152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/favicon-180.png')
    meta(name='msapplication-TileColor', content='#FFFFFF')
    meta(name='msapplication-TileImage', content='/favicon-144.png')
    meta(name='msapplication-config', content='/browserconfig.xml')
    // ****** faviconit.com favicons ******

    //- li.social
    //-   a.twitter-share-button(href='http://twitter.com/share', data-url='http://faviconit.com', data-via='faviconit_') Tweet
    //- li.social
    //-   div.fb-like(data-href='http://faviconit.com/', data-layout='button_count', data-action='like', data-show-faces='true', data-share='false')
  body
    block content
