script(async, src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

// faviconit - vertical 1
ins.adsbygoogle(
  style='display:block',
  data-ad-client='ca-pub-4608591291382670',
  data-ad-slot='9069942698',
  data-ad-format='auto',
  data-full-width-responsive='true'
)
script.
  (adsbygoogle = window.adsbygoogle || []).push({})
